<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xcats.app.ui.curiosity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EventLandingActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".ScoutMatch.ScoutMatch1"
            android:parentActivityName=".EventLandingActivity">
        </activity>
        <activity android:name=".ScoutMatch.ScoutMatch2"
            android:parentActivityName=".ScoutMatch.ScoutMatch1">
        </activity>
        <activity android:name=".ScoutMatch.ScoutMatch3"
            android:parentActivityName=".ScoutMatch.ScoutMatch2">
        </activity>
        <activity android:name=".ScoutMatch.ScoutMatch4"
            android:parentActivityName=".ScoutMatch.ScoutMatch3">
        </activity>
        <activity android:name=".ScoutMatch.ScoutMatch5"
            android:parentActivityName=".ScoutMatch.ScoutMatch4">
        </activity>
        <activity android:name=".Analyze1"
            android:parentActivityName=".EventLandingActivity">
        </activity>
        <activity android:name=".Analyze2"
            android:parentActivityName=".Analyze1">
        </activity>
        <activity android:name=".Analyze3"
            android:parentActivityName=".Analyze2">
        </activity>
        <activity android:name=".Analyze4"
            android:parentActivityName=".Analyze2">
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>